.bg_purple {
    background-color: #6C648B;
}

.bg_orange {
    background-color: #F8A100;
}

.bg_green {
    background-color: #6BBAA7;
}

.bg_brown {
    background-color: #B6A19E;
}

.bg_grey50 {
    background-color: #DDDFEB;
}

.bg_grey100 {
    background-color: #858796;
}

// ----------------
.color_purple {
    color: #6C648B;
}

.color_orange {
    color: #F8A100;
}

.color_green {
    color: #6BBAA7;
}

.color_brown {
    color: #B6A19E;
}

.color_grey50 {
    color: #DDDFEB;
}

.color_grey100 {
    color: #858796;
}

.color_white {
    color: white;
}

.color_whiteB {
    color: white;
    font-weight: bold;
}

// ------------